{% extends 'base.html.twig' %}
{% block title %}IndexCandidato!{% endblock %}
{% block body %}
    <h1 class="page-header">Bem-Vindo {{ userName }}</h1>
    <h2 class="page-header">Veja as vagas que voce se candidatou</h2>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Oportunidade</th>
                    <th scope="col">Data Inicial</th>
                    <th scope="col">Data Final</th>
                    <th scope="col"></th>
                 </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.jobId }}</td>                
            </tr>
            {% endfor %}
            </tbody>
            </table>
{% endblock %}